page-movie-details {
  .movie-details-page {
    .movie-header {
      width: 100%;
      height: 300px;
      position: relative;
      .movie-header-background {
        width: 100%;
        height: 300px;
        background-repeat: no-repeat;
        background-size: 100%;
        background-position-x: center;
        background-position-y: center;
        clip-path: polygon(0 0, 0 100%, 100% 80%, 100% 0);
      }
      .movie-title {
        position: absolute;
        width: 100%;
        bottom: 10%;
        left: 2%;
        transform: rotate(-8deg);
        padding-right: 5px;
        h3 {
          font-size: 2.2em;
          font-weight: bold;
        }
      }
      .movie-rating-stars {
        position: absolute;
        bottom: 0;
        right: 3%;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        width: 200px;
        ul {
          padding: 0px;
          &.rating li {
            padding: 2px 2px !important;
            background: none;
            color: #ffb400;
            ion-icon {
              font-size: 20px;
            }
          }
        }
      }
      .movie-rating-number {
        padding-left: 5%;
        font-size: 2em;
      }
    }
    .movie-details-body {
      .movie-details-info {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        font-size: 1.2em;
        margin-right: 3%;
      }
      .movie-details-overview {
        margin-top: 5px;
        padding: 0 8px 0 8px;
        text-align: justify;
        .overview-title {
          font-weight: bold;
          font-size: 1.7em;
        }
        p {
          font-size: 1.2em;
        }
      }
      .movie-details-actors {
        padding: 5px 0 5px 0;
        .actor-slider {
          max-height: 400px
        }
      }
      .movie-trailer {
        width: 100%;
        height: 215px;
        background-repeat: no-repeat;
        background-size: 100%;
        display: flex;
        align-items: center;
        svg {
          margin: 0 auto;
          display: block;
        }
      }
    }
  }
}
