page-movie-details {
  .separator {
    position: relative;
    width: var(300px);
    height: var(100px);
  }
  .image.above section header,
  .image.below section footer {
    height: calc(var(100px) * 2);
    background-image: url(https://image.tmdb.org/t/p/w185/btTdmkgIvOi0FFip1sPuZI2oQG6.jpg);
    background-size: cover;
    background-position: bottom;
  }
  .image.above .separator {
    --top-color: transparent;
    margin-top: calc(var(--height) * -1);
  }
  .image .separator {
    position: absolute;
  }
  .separator::before {
    position: absolute;
    content: '';
    display: block;
    width: 100%;
    height: 100%;
    -webkit-mask-image: url(https://rawgit.com/ahmadnassri/css-diagonal-separators/master/svg-mask/diagonal.svg#top);
    -webkit-mask-size: cover;
    mask-image: url(https://rawgit.com/ahmadnassri/css-diagonal-separators/master/svg-mask/diagonal.svg#top);
    mask-size: cover;
  }
  .separator::after {
    position: absolute;
    content: '';
    display: block;
    width: 100%;
    height: 100%;
    background-color: var(--bottom-color);
    -webkit-mask-image: url(https://rawgit.com/ahmadnassri/css-diagonal-separators/master/svg-mask/diagonal.svg#bottom);
    -webkit-mask-size: cover;
    mask-image: url(https://rawgit.com/ahmadnassri/css-diagonal-separators/master/svg-mask/diagonal.svg#bottom);
    mask-size: cover;
  }
  .separator.reverse {
    transform: rotateY(180deg);
  }
}
