$black: rgb(0, 0, 0);
$white: rgb(255, 255, 255);

@mixin dark-text-style {
  color: #fff;
  text-shadow: 1px 1px 1px rgba($black, .8);
}

page-person-details {
  .person-details-page {
    background-color: rgba($black, .9);
    .person-header {
      background-color: rgba($white, .05);
      color: rgba($white, .9);
      height: 200px;
      display: flex;
      .person-header-background {
        background-repeat: no-repeat;
        background-size: auto 100%;
        background-position-x: left;
        background-position-y: center;
        height: 100%;
        width: 225px;
      }
      .person-title {
        padding: 0.4em 0.1em;
        vertical-align: top;
        width: 100%;
        .first-person-info {
          display: flex;
          flex-direction: column;
          align-items: flex-start;
          font-size: 1.2em;
          @include dark-text-style;
          margin-left: 5%;
          span {
            padding-bottom: 7px;
          }
        }
        .second-person-info {
          display: flex;
          flex-wrap: wrap;
          justify-content: space-between;
          align-items: center;
          font-size: 1.2em;
          @include dark-text-style;
          margin: 5% 5% 0 5%;
          span {
            padding-bottom: 7px;
          }
        }
      }
    }
    .about-info {
      margin-top: 15px;
      padding: 0 8px 0 8px;
      text-align: justify;
      @include dark-text-style;
      .description-title {
        font-weight: bold;
        font-size: 1.7em;
      }
      p {
        font-size: 1.2em;
      }
    }
  }
}
