page-contact {
  ion-content {
    .formContact {
      ion-item {
        width: 96%;
      }
      .button-submit {
        position: fixed;
        bottom: 2%;
        width: 90%;
        left: 5%;
      }
    }
  }
}
