page-home {
  .card-background-page {
    ion-card {
      height: 200px;
      display: flex;
    }
    .card-image {
      background-repeat: no-repeat;
      background-size: auto 100%;
      background-position-x: left;
      background-position-y: center;
      height: 100%;
      width: 225px;
    }
    .card-title {
      padding: 0.4em 0.1em;
      vertical-align: top;
      width: 100%;
      .title {
        font-size: 1.5em;
        height: 2.7em;
        overflow: hidden;
      }
      .overview {
        font-size: 1.0em;
        height: 5.7em;
        overflow: hidden;
      }
    }
  }
  .card-background-page {
    ion-card:hover {
      background-color: rgba(255, 255, 255, .3);
      color: rgba(255, 255, 255, .9);
    }
  }
}
