@mixin light-text-style {
  color: rgba($black, .8);
  text-shadow: 1px 1px 1px rgba(95, 95, 95, 0.3);
}

@mixin charachter-header-text {
  color: rgba($black, .8);
  text-shadow: 1px 1px 1px #fff;
}

.light-theme {
  transition: all 1.1s ease;
  .toolbar-background {
    background-color: rgba($white, 0.945);
  }
  .toolbar-title,
  .bar-button {
    color: rgba($black, .7);
  }
  .menu-button {
    background-color: rgba($white, 0.945);
  }
  .nav-menu {
    background-color: rgba($white, 0.945);
  }
  .menu-title {
    background-color: rgba($black, .6)!important;
    text-align: center;
  }
  ion-header {
    background-color: rgba(1, 1, 1, 1)!important;
  }
  .card-background-page {
    background-color: rgba($white, 0.945);
    .card-title {
      .title {
        color: rgba($black, .8);
        text-shadow: 1px 1px 1px rgba(95, 95, 95, 0.3);
      }
      .overview {
        text-shadow: 1px 1px 1px rgba($white, 0.7);
        color: rgba($black, .8);
        text-align: justify;
        padding-right: 5px;
      }
    }
  }
  .movie-details-page {
    background-color: rgba($white, 0.945);
    .movie-header {
      .movie-title {
        h3 {
          color: rgba($white, 0.945);
          text-shadow: 1px 1px 1px rgba($black, .5);
        }
      }
      .movie-rating-number {
        @include light-text-style;
      }
    }
    .movie-details-body {
      .movie-details-info {
        @include light-text-style;
      }
      .movie-details-overview {
        @include light-text-style;
      }
      .movie-details-actors {
        background-color: rgba(95, 95, 95, 0.3);
        box-shadow: inset 0px 11px 8px -10px rgba($black, .5), inset 0px -11px 8px -10px rgba($black, .5);
        figcaption {
          @include light-text-style;
        }
      }
    }
  }
  .characters-list-body {
    background-color: rgba($white, 0.945);
  }
  .person-details-page {
    background-color: rgba($white, .945);
    .person-header {
      background-color: rgba(95, 95, 95, 0.3);
      .person-title {
        .title {
          @include charachter-header-text;
        }
        .first-person-info {
          @include charachter-header-text;
        }
        .second-person-info {
          @include charachter-header-text;
        }
      }
    }
    .about-info {
      @include light-text-style;
    }
  }
  .association-page {
    background-color: rgba($white, 0.945);
    .association-title {
      @include light-text-style;
    }
    .association-details-overview {
      @include light-text-style;
    }
    a.animated-button:link,
    a.animated-button:visited {
      @include light-text-style;
    }
    a.animated-button:link:hover,
    a.animated-button:visited:hover {
      @include light-text-style;
    }
    a.animated-button:link,
    a.animated-button:visited {
      @include light-text-style;
    }
    a.animated-button.victoria-one {
      border: 2px solid #59db68;
    }
    a.animated-button.victoria-one:after {
      background: #59db68;
    }
    a.animated-button.victoria-two {
      border: 2px solid #59db68;
    }
    a.animated-button.victoria-two:after {
      background: #59db68;
    }
    a.animated-button.victoria-three {
      border: 2px solid #59db68;
    }
    a.animated-button.victoria-three:after {
      background: #59db68;
    }
    a.animated-button.victoria-four {
      border: 2px solid #59db68;
    }
    a.animated-button.victoria-four:after {
      background: #59db68;
    }
  }
}
