.toolbar-background {
  background-color: rgba(0, 0, 0, .6);
  color: rgba(255, 255, 255, .8);
}

.toolbar-title,
.bar-button {
  color: rgba(255, 255, 255, .6);
}

.menu-button {
  background-color: rgba(0, 0, 0, 0);
}

.nav-menu {
  background-color: rgba(0, 0, 0, .8);
}

.menu-title {
  background-color: rgba(0, 0, 0, .6);
  text-align: center;
}

.item {
  color: rgba(255, 255, 255, .8);
}

ion-header {
  background-color: rgba(1, 1, 1, 1)
}

ion-menu {
  ion-content {
    ion-list {
      button {
        ion-icon {
          position: relative;
          top: 0.05em;
        }
      }
    }
  }
}
