page-personnage {
  ion-header {
    ion-navbar {
      ion-title {
        color: rgba(255, 255, 255, 0.8);
      }
    }
  }
  ion-content {
    ion-list {
      .item {
        background-color: rgba( 0, 0, 0, 0.8);
        color: rgba(255, 255, 255, 0.8);
      }
    }
  }
}
