page-personnage {
  .characters-list-body {
    background-color: rgba(0, 0, 0, .8);
    .characters-item {
      background-color: transparent;
      .character-image {
        border-radius: 50%;
      }
    }
    .spinner-container {
      width: 100%;
      text-align: center;
      padding: 10px;
    }
  }
}
